/*Reset Styles*/
* {
  margin: 0;
  padding: 0;
}

ul{
    list-style:disc;
    padding-left: 20px;
}

html, body {
  height: 100%;
}

body {
  background: url(/images/bg.png);
}

p, li {
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
  color: #45484B;
  text-shadow: 1px 1px #FFF;
}

h1, h2, h3, h4, h5, h6 {
  padding: 10px 0;
  font-family: "ChunkFiveRegular";
}

h1 {
  font-size: 34px;
  color: #753232;
}

h2 {
  font-size: 24px;
  color: #45484B;
}

p {
  margin-bottom: 24px;
  line-height: 23px;
  font-weight: 300;
}

.clearfix {
  clear: both;
}

/*Fonts*/

@font-face {
  font-family: 'RobotoBoldCondensed';
  src: url('Roboto-BoldCondensed-webfont.eot');
  src: url('Roboto-BoldCondensed-webfont.eot?#iefix') format('embedded-opentype'),
       url('Roboto-BoldCondensed-webfont.woff') format('woff'),
       url('Roboto-BoldCondensed-webfont.ttf') format('truetype'),
       url('Roboto-BoldCondensed-webfont.svg#RobotoBoldCondensed') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'ChunkFiveRegular';
  src: url('Chunkfive-webfont.eot');
  src: url('Chunkfive-webfont.eot?#iefix') format('embedded-opentype'),
       url('Chunkfive-webfont.woff') format('woff'),
       url('Chunkfive-webfont.ttf') format('truetype'),
       url('Chunkfive-webfont.svg#ChunkFiveRegular') format('svg');
  font-weight: normal;
  font-style: normal;
}




/********
  Header
 ********/

#header {
  margin: 10px 0;
  text-align: center;
  width: 100%;
}

#header a {
  text-decoration: none;
}

#header h1 {
  color: white;
  font-family: "ChunkFiveRegular";
  text-shadow: none;
  font-size: 50px;
  background: #753232;
  background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#804040), to(#753232));
  background: -moz-linear-gradient(19% 75% 90deg, #804040, #753232 100%);
  font-weight: normal;
  padding: 0;
  padding-top: 10px;
}

/**************
  Left sidebar
 **************/

#sidebar-left-wrapper {
  vertical-align: top;
  width: 280px;
  float: left;
}

#sidebar-left {
  display: block;
}

/*Sliding navigation menu*/
#slidingMenu {
  position: relative;
  max-width: 280px;
  padding: 30px 0 30px 10px;
  overflow:hidden;
  font-family: Arial, Helvetica, sans-serif;
}

#slidingMenu.docked {
  position: fixed;
  top: 0;
}

#slidingMenu li {
  display: block;
  float: left;
  position: relative;
  overflow: hidden;
}

#slidingMenu li.move {
  width: 9px;
  height: 54px;
  left:0px;
  z-index: -100;
  position: absolute;
  background: #753232;
  background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#9C4343), to(#753232));
  background: -moz-linear-gradient(19% 75% 90deg, #753232, #9C4343 100%);
  border-radius: 0px 8px 8px 0px;
  -webkit-border-top-right-radius: 8px;
  -webkit-border-bottom-right-radius: 8px;
  border-top-right-radius: 8px;
  border-bottom-right-radius: 8px;
  -moz-box-shadow:0px 0px 3px #000;
  -webkit-box-shadow:0px 0px 3px #000;
  box-shadow:0px 0px 3px #000;
  padding-right: 10px;
}

#slidingMenu li a {
  /*font-size:48px;*/
  font-family: "ChunkFiveRegular";
  text-transform:uppercase;
  text-decoration: none;
  color: #FFF;
  text-shadow: 2px 2px 8px #35383B;
  outline: none;
  text-indent:5px;
  z-index: 10;
  display: block;
  float: left;
  overflow: hidden;
  padding-right:10px;
}


/***********
  Content
 ***********/

#content-wrapper {
  width: 68%;
  max-width: 820px;
  float: left;
}

.content {
  display: inline-block;
  width: 100%;
  padding-top: 20px;
  padding-left: 10px;
}

.content a:link,
.content a:visited {
  color: #666;
}

.content a:active,
.content a:hover {
  color: #999;
}


/*Blog Posts*/

.post {
  max-width: 820px;
}

.post h2,
.post a.title:link,
.post a.title:visited {
  color: #753232;
  font-size: 28px;
  text-decoration: none;
  font-weight: normal;
}

.post a.title:active,
.post a.title:hover {
  color: #A57272;
}

.post .date {
  color: #AAA;
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-weight: 100;
  padding-bottom: 15px;
  font-size: 14px;
  font-style: italic;
}

.post h2 {
  padding-bottom: 0;
}

.post img {
  max-width: 90%;
  border: 1px solid #222;
  margin: auto;
  display: block;
  margin-bottom: 30px;
  box-shadow: 0px 0px 25px #444;
}

.post .imgpost {
  position: relative;
}

.post .imgpost .thecaption {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  text-shadow: 1px 1px #000;
  color: #FFF;
  position: absolute;
  bottom: 10px;
  background: url('../images/caption.png') no-repeat left bottom;
  padding: 8px 0px 18px 13px;
  display: block;
  margin-left: auto; 
  margin-right: auto;
}


/*Blog post page, and its menu*/

.post-page .center {
  margin: auto;
  max-width: 900px;
}

.menu {
  text-align: center;
  margin: auto;
  padding-bottom: 10px;
  margin-bottom: 10px;
  border-bottom: 1px solid #aaa;
}

.menu ul li {
  display: inline;
  padding: 0px 20px;
}

/***********
  Footer
 ***********/

#footer {
  clear: both;
  position: relative;
  bottom: 0;
  right: 0;
}
 
#footer .contact {
  float: right;
  text-align: right;
  padding: 20px;
}

#footer .contact p {
  font-size: 12px;
  color: #999;
  margin-bottom: 4px;
}

#footer .contact a {
  color: #333;
}

/***********************************
  Gettin' all responsive up in this
 ***********************************/

@media all and (max-width:940px) {
  
  /**********
    Sidebar
   **********/

  #sidebar-left-wrapper {
    width: 29%;
  }
  
  #slidingMenu {
    padding-left: 5px;
  }

  #slidingMenu li {
    padding-bottom: 3px;
  }

  #slidingMenu li.move {
    height: 18%;
  }
  
  #slidingMenu li a {
    text-shadow: 2px 2px 8px #35383B;
  }
  
}

@media all and (max-width:600px) {

  p {
    font-size: 14px;
    line-height: 20px;
  }

  #header h1 {
    font-size: 32px;
  }

  /*Sidebar*/

  #sidebar-left {
    float: none;
    padding: 0;
    width: auto;
    margin: 0 auto;
  }

  #sidebar-left-wrapper {
    display: block;
    text-align: center;
  }

  #sidebar-left-wrapper {
    width: 100%;
    margin: auto;
    float: none;
  }

  #slidingMenu {
    width: auto;
    padding: 0;
    max-width: none;
    text-align: center;
    padding-bottom: 5px;
  }

  #slidingMenu li {
    float: none;
    display: inline;
    text-align: center;
    font-size: 16px;
  }

  #slidingMenu li a {
    padding: 0 10px;
    float: none;
    display: inline;
  }

  #slidingMenu li.move {
    display: none;
  }

  /*Content*/

  #content-wrapper {
    display: block;
    width: 100%;
  }

  .content {
    float: none;
    width: 90%;
    padding: 5%;
    padding-top: 5px;
  }

  .content .post a.title:link,
  .content .post a.title:visited {
    font-size: 20px;
  }

  .content .post .date {
    font-size: 12px;
  }

}