/*****************************************************************************/
/*
/* Common
/*
/*****************************************************************************/

/* Global Reset */

* {
	margin: 0;
	padding: 0;
}

html, body {
	background:#FFF url(/images/headerrectangle.png) repeat-x;
	background-position: 0px 13px;
	height: 95%;
}

body {
	font: 13.34px helvetica, arial, clean, sans-serif;
	*font-size: small;
	text-align: center;
}

h1 {
	font-size:28px;
	color:#45484B;
	margin-bottom: 25px;
	margin-top: 25px;
	font-family: "ChunkFive";
}

h2 {
	color:#4F4F4F;
	font-size:18px;
}


a {
	font-size:14px;
	color: #00a;
	text-decoration:none;
}

a:hover {
	color: black;
	text-decoration:underline;
}

a:visited {
	color: #00a;
}

table {
	font-size: inherit;
	font: 100%;
}

/*****************************************************************************/
/*
/* Resources
/*
/*****************************************************************************/

@font-face {
  font-family: "ChunkFive";
  src: url("/fonts/Chunkfive.otf");
}

/*****************************************************************************/
/*
/* Home
/*
/*****************************************************************************/

ul.posts {
	list-style-type: none;
	margin-bottom: 2em;
}

.small {
	font-size:90%;
}

ul.posts li {
	line-height: 1.75em;
}

ul.posts span {
	color: #aaa;
	font-family: Monaco, "Courier New", monospace;
	font-size: 80%;
}

/*****************************************************************************/
/*
/* Header
/*
/*****************************************************************************/

.header {
	font-family:Arial, Helvetica, sans-serif;
	color:#0000AA;
	font-weight:bold;
	margin-top: 2em;
	margin-bottom: 2em;
	text-align:center;
}

.header a:active,
.header a:hover{
	text-decoration:none;
}

.header h1 {
	color:#FFF;
	font-family: "ChunkFive";
	font-size:50px;
	background: #753232;
	font-weight:normal;
}

.header .navbar{
	width: 60em;
	margin: auto auto auto auto;
	border-bottom:1px solid #CCCCCC;
}

.header .navbar a {
	color:#777C82;
	font-size:16px;
	text-decoration:none;
}
.header .navbar a:hover {
	color:#DDD;
}

.header .navbar a.extra{
	color:#999;
	margin-right:2em;
	text-decoration:none;
}
.header .navbar a.extra:hover {
	color:#45484B;
}

/*****************************************************************************/
/*
/* Site
/*
/*****************************************************************************/

.site {
	font-size: 110%;
	text-align: justify;
	width: 55em;
	margin: 2em auto 2em auto;
	line-height: 1.5em;
}

.site #intro{
	color:#000000;
	font-size:18px;
	margin-bottom:1em;
}

.site a:link,
.site a:visited{
	color:#753232;
	font-size:14px;
	text-decoration:none;
}

.site a:hover {
	color:#999;
}

.site .footer {
	clear:both;
	font-size: 80%;
	color: #666;
	border-top: 1px #ccc solid;
	margin-top: 5em;
	padding-bottom: 4em;
}

.site .footer a{
	color:#894646;
	font-size:12px;
}

.site .twitfeed {
	margin-bottom: 2em;
	height: 46px;
	background: url(/images/twitfeed.png);
}

.site .twitfeed li{
	list-style-type:none;
	color: #FFFFFF;
	padding-left: 5.5em;
	padding-top: 1em;
	font-size: 12px;
	width: 700px;
	line-height:1.6;
}

.site .twitfeed a{
	color:#000000;
	font-size: 12px;
}

.site ul{
	margin-left: 20px;
	margin-bottom: 1em;
	margin-top: 1em;
}

/*****************************************************************************/
/*
/* Posts
/*
/*****************************************************************************/

.post {
	border-bottom: 1px #ccc solid;
	padding-bottom: 20px;
	margin-bottom:30px;
	color:#45484B;
}

/* standard */

.post a:link,
.post a:visited{
	color:#753232;
	font-size:14px;
	text-decoration:none;
}

.post a:hover {
	color:#999;
}

.post a.title:link,
.post a.title:visited{
	color:#753232;
	font-size:22px;
	text-decoration:none;
	font-family: "ChunkFive";
}

.post a.title:hover {
	color:#777;
}

.post date{
	color:#999;
	font-style:italic;
}

.post p{
	padding-top: 20px;
}

.post pre {
	border: 1px solid #ddd;
	background-color: #eef;
	padding: 0 .4em;
}

.post code {
	border: 1px solid #ddd;
	background-color: #EEE6AB;
	font-size: 95%;
	padding: 0 .2em;
}

.post h3{
	font-family: "ChunkFive";
	color:#753232;
	font-size: 32px;
	padding-bottom: 4px;
}

.post h2{
	font-family: "ChunkFive";
	color:#753232;
	font-size: 22px;
}

img.center {   
	display: block;   
	margin-left: auto;   
	margin-right: auto; 
	margin-bottom: 2em;
	margin-top: 2em;
	padding:1px;
    border:1px solid #021a40;
}

.post ul{
	margin-left: 40px;
	margin-bottom: 1em;
}

.post ul.archive{
	list-style-type: none;
	margin-top: 10px;
	margin-bottom: 10px;
	padding-top: 0;
	padding-bottom: 0;
}

.post pre code {
	border: none;
}

/* terminal */

.post pre.terminal {
	border: 1px solid black;
	background-color: #EEE6AB;
	color: white;
	font-size: 14px;
	overflow:auto;
}

.post pre.terminal code {
	background-color: #EEE6AB;
}


/* date */
.post .date{
	color:#AAA;
	font-style:italic;
	font-size: 14px;
	padding-bottom:0.5em;
}