---
id: home
layout: default
---

<div class="home">
  <div class="intro home-section">
    <div class="intro-waves"></div>
    <div class="intro-arrow">
      <svg width="3127px" height="32px" viewBox="0 0 3127 32" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
        <polygon fill="#F9FBF4" points="3127 0 1907 0 1877 30 1848 0 0 0 0 32 3127 32"></polygon>
      </svg>
    </div>

    </div>
    <div class="home-section-inner">
      <h1 class="intro-text" data-scroll-trigger="middle" data-scroll-toggle>
        <span>Somewhere in a sea of good ideas,</span>
        <span>unsolved problems, and awful jokes,</span>
        <span>Will's just trying to make it happen</span>
      </h1>
    </div>
  </div>



  <div id="me" class="about home-section">
    <div class="about-inner home-section-inner">
      <div class="about-text">
        <h2>A little about me</h2>
        <p>
          I'm a self taught programmer who has spent enough time coding to
          know that it's true love I feel for what I do. I'm really passionate
          about everything I take part in, and am always on the lookout for
          inspiring products. As you can see, I hold all my
          <a data-smooth-anchor href="#work">work</a> in very high regard.
        </p>
      </div>
    </div>
  </div>



  <div id="work" class="work home-section">
    <div class="home-section-inner">
      <div class="work-projects">
        {% assign sorted_work = site.work | sort: 'importance' %}
        {% for work in sorted_work %}
          <div class="project">
            {% if work.screenshots %}
              <div class="project-screens">
                {% for screen in work.screenshots %}
                  {% if screen.type == "desktop" %}
                    <div class="screen isDesktop">
                      <div class="inner">
                        <div class="screen-ui">
                          <div class="screen-ui-buttons">
                            <div class="screen-ui-buttons-button isRed"></div>
                            <div class="screen-ui-buttons-button isYellow"></div>
                            <div class="screen-ui-buttons-button isGreen"></div>
                          </div>
                          <div class="screen-ui-address">
                            {{ screen.url }}
                          </div>
                        </div>
                        <div
                          class="screen-image"
                          data-lazy-bg="/img/screenshots/{{ screen.name }}.jpg"
                        ></div>
                      </div>
                    </div>
                  {% elsif screen.type == "phone" %}
                    <div class="screen isPhone">
                      <div class="inner">
                        <div class="screen-ui">
                          <div class="screen-ui-speaker"></div>
                          <div class="screen-ui-button"></div>
                        </div>
                        <div
                          class="screen-image"
                          data-lazy-bg="/img/screenshots/{{ screen.name }}.jpg"
                        ></div>
                        <div class="screen-overlay"></div>
                      </div>
                    </div>
                  {% endif %}
                {% endfor %}
              </div>
            {% endif %}
            {% if work.tiles %}
              <div class="project-tiles">
                {% for tile in work.tiles %}
                  <div class="project-tiles-tile">
                    <div
                      class="project-tiles-tile-bg"
                      data-lazy-bg="/img/screenshots/{{ tile.name }}.jpg"
                    ></div>
                    <a
                      href="{{ tile.url }}"
                      class="project-tiles-tile-caption"
                      target="_blank"
                    >
                      {{ tile.caption }}
                    </a>
                  </div>
                {% endfor %}
              </div>
            {% endif %}

            <div class="project-info">
              <h2 class="project-info-title">
                {{ work.name }}
              </h2>
              <div class="project-info-role">
                {{ work.role }}
              </div>
              <div class="project-info-dates">
                {{ work.start_date | date: '%B %Y' }}
              </div>
              <p class="project-info-description">
                {{ work.blurb }}
              </p>

              {% if work.site %}
                <a class="project-info-button" href="{{ work.site }}" target="_blank">
                  {{ work.cta }}
                  <div class="project-info-button-shadow"></div>
                </a>
              {% endif %}
            </div>
          </div>
        {% endfor %}
      </div>
      <div class="work-arrow"></div>
    </div>
  </div>



  <div id="posts" class="posts home-section">
    <div class="home-section-inner">
      <h2 class="posts-title">Sometimes I post things on the internet</h2>

      <div id="medium-widget"></div>

      <a class="posts-more" href="https://medium.com/@wbobeirne" target="_blank">
        Read more on Medium.com →
      </a>
    </div>
  </div>



  <div id="contact" class="contact home-section">
    <div class="home-section-inner">
      <h2 class="contact-title">Hit me up</h2>
      <div class="contact-sources">
        <a
          class="contact-sources-link isText"
          target="_blank"
          href="mailto:wbobeirne@gmail.com"
        >
          <i class="fa fa-envelope"></i><span>wbobeirne@gmail.com</span>
        </a>

        <a
          class="contact-sources-link isText"
          target="_blank"
          href="https://www.linkedin.com/in/wbobeirne"
        >
          <i class="fa fa-linkedin-square"></i><span>wbobeirne</span>
        </a>

        <a
          class="contact-sources-link isIcon"
          target="_blank"
          href="https://github.com/wbobeirne"
        >
          <i class="fa fa-github"></i>
        </a>

        <a
          class="contact-sources-link isIcon"
          target="_blank"
          href="https://twitter.com/wbobeirne"
        >
          <i class="fa fa-twitter"></i>
        </a>

        <a
          class="contact-sources-link isIcon"
          target="_blank"
          href="https://medium.com/@wbobeirne"
        >
          <i class="fa fa-medium"></i>
        </a>

        <a
          class="contact-sources-link isIcon"
          target="_blank"
          href="http://codepen.io/wbobeirne/"
        >
          <i class="fa fa-codepen"></i>
        </a>

        <a
          class="contact-sources-link isIcon"
          target="_blank"
          href="https://dribbble.com/wbobeirne"
        >
          <i class="fa fa-dribbble"></i>
        </a>
      </div>

      <h2 class="contact-title">Proud Resident of</h2>
      <div></div>
      <div class="contact-address">Austin, TX</div>
    </div>
  </div>
</div>

<script src="{{ "/js/three.min.js" | prepend: site.baseurl }}"></script>
<script src="{{ "/js/vanta.waves.min.js" | prepend: site.baseurl }}"></script>
<script>
  Home.register();
</script>
<script src="https://medium-widget.pixelpoint.io/widget.js"></script>
<script>
  MediumWidget.Init({
    renderTo: '#medium-widget',
    params: {
      resource: "https://medium.com/@wbobeirne",
      postsPerLine: 1,
      limit: 3,
      picture: "none",
      fields: ["description","claps","publishAt"],
      ratio: "landscape"
    }
  });
</script>