@import '~/styles/mixins.scss';
$btn-depth: 12px;
$btn-sink: 6px;

.container {
  position: absolute;
}

.content {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  margin-bottom: 20px;
  list-style: none;
  background: var(--color-secondary);
  transform: translate(0);
  box-shadow: 0 0 0 1px var(--color-secondary-dark) inset;
  @include border-3d($btn-depth, var(--color-secondary-dark), var(--color-secondary-darker));

  * {
    color: var(--color-text);
  }

  &,
  &::before,
  &::after {
    transition: all 150ms ease;
  }

  &:not(.isActive) {
    &:active {
      @include border-3d-sunk($btn-depth, $btn-sink);
    }
  }
}

.list {
  width: 100%;
  height: 100%;

  a {
    display: block;
    width: 100%;
    height: 100%;

    &:hover,
    &:focus {
      .logo {
        transform: translate(-50%, -50%) scale(1.05);
      }
    }
  }

  .logo {
    position: absolute;
    top: 40%;
    left: 50%;
    width: 50%;
    height: 50%;
    max-width: 200px;
    max-height: 200px;
    transform: translate(-50%, -50%);
    transition: transform 120ms ease;
  }

  .name {
    position: absolute;
    top: 68%;
    left: 50%;
    width: 100%;
    font-size: 1rem;
    font-weight: 600;
    letter-spacing: 1px;
    text-align: center;
    text-align: center;
    text-transform: uppercase;
    color: var(--color-primary);
    transform: translate(-50%, -50%);
  }
}

.full {
  padding: 1rem 2rem;
  max-height: 100%;
  @include custom-scrollbar(var(--color-secondary-darker), var(--color-secondary-dark));

  .back {
    display: block;
    padding: 10px 0;
    color: var(--color-primary);
    text-transform: uppercase;
    font-size: 0.8rem;
    font-weight: bold;
    transform: translateY(0);
    transition: transform 100ms ease;

    &:hover {
      text-decoration: underline;
    }
    &:active {
      transform: translateY(2px);
    }
  }

  .top {
    display: flex;
    align-items: center;
    margin: 0 0 1rem;
  }

  .logo {
    width: 5rem;
    height: 5rem;
    margin-right: 1rem;
  }

  .name {
    font-size: 3rem;
    line-height: 1;
    margin: 0;
  }

  .title {
    text-transform: uppercase;
    font-size: 1rem;
    font-weight: bold;
  }

  .dates {
    font-size: 1rem;
    opacity: 0.8;
  }

  .description {
    font-size: 1.2rem;
  }

  @include mq-tiny {
    .top {
      display: block;
    }

    .logo {
      display: block;
      width: 60px;
      height: auto;
      margin: 0 auto 8px;
    }
    
    .name,
    .title,
    .dates {
      text-align: center;
    }
  }
}
