<header class="site-header isTransparent">
  <div class="site-header-title">
    <a href="/">W B O</a>
  </div>

  <nav class="site-header-links">
    <a class="site-header-links-link" data-smooth-anchor href="/#me">
      <span>about</span> me
    </a>
    <a class="site-header-links-link" data-smooth-anchor href="/#work">
      work <span>i did</span>
    </a>
    <a class="site-header-links-link" data-smooth-anchor href="/#posts">
      <span>stuff i</span> post
    </a>
    <a class="site-header-links-link" data-smooth-anchor href="/#contact">
      <span>my</span> contact <span>info</span>
    </a>

    <a class="site-header-links-link social github" target="_blank" href="https://github.com/wbobeirne">
      <i class="fa fa-github-alt"></i>
    </a>
    <a class="site-header-links-link social twitter" target="_blank" href="https://twitter.com/wbobeirne">
      <i class="fa fa-twitter"></i>
    </a>
  </nav>
</header>
