// Overrides
.site--home {
  background-color: $color-gray-1;
}

// Shared stuff
.home {
  &-section {
    position: relative;
    padding: 0 $home-section-padding;

    &-inner {
      position: relative;
      height: 100%;
      max-width: $home-section-width;
      margin: auto;
    }
  }
}


// Intro section
$wave-count: 20;
$wave-max: 125vw;
$wave-min: 1vw;
$wave-range: $wave-max - $wave-min;
$wave-speed: 12000ms;
$wave-width: 2vw;
$wave-color: #8D99AE;

@keyframes wave-line {
  to { @include transform(rotate(135deg)); }
}

.intro {
  min-height: 460px;
  height: 460px;
  height: 92vh;
  background: $color-gray-1;

  &-arrow:after {
    position: absolute;
    content: "";
    bottom: -$home-arrow-size / 2;
    right: 200px;
    z-index: $z-home-arrows;
    @include triangle(60px, $color-gray-1, down);
  }

  &-text {
    position: absolute;
    bottom: 60px;
    left: 80px;
    margin: 0;
    font-size: 4.2vw;
    line-height: 5.8vw;
    color: $color-white;
    opacity: 1;
    @include transition(all 500ms ease);
    @include transform(translateY(0%));

    &:hover {
      opacity: 1;
    }

    span {
      display: block;
    }

    &.isScrolled {
      opacity: 0.5;
      @include transform(translateY(12%));
    }

    @include media-query($device-tablet) {
      bottom: 50px;
      left: 70px;
    }

    @include media-query($device-phone) {
      bottom: 40px;
      left: 30px;
      @include phone-rule(font-size, 30px);
      @include phone-rule(line-height, 52px);
    }
  }

  &-hexes,
  &-hexcover {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
  }
  &-hexes {
    @include filter(blur(8px));
  }
  &-hexcover {
    @include linear-gradient(rgba($color-gray-1, 0), rgba($color-gray-1, 1));
  }


  &-waves {
    position: absolute;
    bottom: 0;
    left: 50%;
    width: $wave-max;
    height: $wave-max / 2;
    overflow: hidden;
    opacity: 0.3;
    @include transform(translateX(-50%));

    &-line {
      position: absolute;
      border-width: $wave-width;
      border-style: solid;
      border-radius: 100%;
      @include animation(wave-line $wave-speed infinite alternate);
      @include transform(rotate(-44.5deg));

      $line-alpha: 1;
      @for $i from 1 through $wave-count {
        &:nth-child(#{$i}) {
          $size: $wave-max - (($wave-range / $wave-count) * $i);
          @if $i > 1 {
            $line-alpha: 1 - ((1 / ($wave-count + 1)) * $i);
          }
          width: $size;
          height: $size;
          bottom: $size / -2;
          left: ($wave-max - $size) / 2;
          @include animation-delay($i * ($wave-speed / $wave-count));
          border-color: transparent
                        transparent
                        rgba($wave-color, $line-alpha)
                        rgba($wave-color, $line-alpha);
        }
      }
    }
  }
}




// About
.about {
  height: 70vh;
  height: 480px;
  background-color: $color-white;
  @include media-query($device-tablet) {
    height: auto;
    padding-top: 8vw;
    padding-bottom: 8vw;
  }

  &-inner {
    background-image: url('/img/home/will-2tone.png');
    background-position: bottom right;
    background-repeat: no-repeat;
    background-size: 430px;

    @include media-query($device-tablet) {
      background: none;
    }
  }

  &-text {
    position: absolute;
    width: 100%;
    max-width: 620px;
    padding-left: 18px;
    bottom: 25px;

    h2 {
      @include phone-rule(font-size, $home-title-size);
      @include phone-rule(line-height, $home-title-line);
      color: $color-gray-1;
    }

    p {
      @include phone-rule(font-size, 24px);
      @include phone-rule(line-height, 36px);
    }

    a {
      color: $color-red-2;
    }

    @include media-query($device-tablet) {
      position: relative;
      max-width: auto;
      bottom: auto;
      left: auto;
    }
  }
}


// Work
.work {
  min-height: 300px;
  padding: 0 40px;
  background-color: $color-red-2;

  &-projects {
    padding: 120px 0 80px;
  }

  &-arrow:after {
    content: "";
    position: absolute;
    top: -$home-arrow-size / 2;
    left: 160px;
    z-index: $z-home-arrows;
    @include triangle($home-arrow-size, $color-red-2, up);
  }
}
.project {
  margin: 0 auto 200px;
  @include clearfix;

  &-info {
    width: 40%;

    &-title {
      color: $color-white;
      @include phone-rule(font-size, $home-title-size);
      @include phone-rule(line-height, $home-title-line);
      @include phone-rule(margin-bottom, 10px);
    }
    &-role,
    &-role:after,
    &-dates {
      color: $color-white;
      display: inline-block;
      vertical-align: top;
      font-family: $font-title;
      @include phone-rule(font-size, 16px);
      @include phone-rule(line-height, 16px);
      opacity: 0.8;
    }
    &-role:after {
      content: "â—";
      @include phone-rule(font-size, 10px);
      @include phone-rule(margin, 0 4px);
    }

    &-description {
      @include phone-rule(margin, 30px 0);
      color: $color-white;
    }

    &-button {
      position: relative;
      display: block;
      width: 280px;
      @include phone-rule(height, 70px);
      @include phone-rule(line-height, 70px);
      @include phone-rule(font-size, 24px);
      color: $color-gray-1;
      font-family: $font-title;
      text-align: center;
      text-shadow: 0 -1px #CCC;
      background: $color-white;
      border-radius: 5px;
      border-bottom: 4px solid #CCC;
      box-sizing: content-box;
      @include transform(translateY(0px));
      @include transition(all 100ms ease);

      &:hover {
        color: $color-red-2;
      }
      &:active {
        border-bottom: 0px solid #CCC;
        @include transform(translateY(4px));
      }
    }
  }

  &-screens,
  &-tiles {
    position: relative;
    width: 60%;
  }

  &-tiles {
    @include clearfix;

    &-tile {
      position: relative;
      float: left;
      width: 30%;
      margin: 1.5%;
      overflow: hidden;
      background-color: $color-blue-1;
      &:before {
        content: "";
        display: block;
        width: 100%;
        padding-top: 92%;
      }
      &:after {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        z-index: 100;
        background: rgba(#FFF, 0.5);
        @include transition(transform 400ms ease);
        @include transform(
          scale3d(1.9, 1.4, 1)
          rotate3d(0, 0, 1, 45deg)
          translate3d(0, -100%, 0)
        );
      }

      &,
      &-bg,
      &-caption {
        border-radius: 6px;
      }

      &-bg {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background-position: center;
        background-size: 112%;
        -webkit-background-size: 112%;
        opacity: 0;
        @include transition-property(opacity, background-size);
        @include transition-duration(300ms);
        @include transition-timing-function(ease);

        &.isLoaded {
          opacity: 1;
        }
      }

      &-caption {
        display: block;
        position: absolute;
        bottom: 10%;
        right: 10%;
        width: 80%;
        text-align: right;
        opacity: 0;
        color: #FFF;
        font-family: $font-title;
        @include phone-rule(font-size, 22px);

        &:hover {
          color: #FFF;
          text-shadow: 0 0 5px rgba(#FFF, 0.5);
        }
      }

      &:hover,
      &:active,
      &:focus {
        &:after {
          @include transform(
            scale3d(1.9, 1.4, 1)
            rotate3d(0, 0, 1, 45deg)
            translate3d(0, 100%, 0)
          );
        }

        .project-tiles-tile-bg {
          &, &.isLoaded {
            opacity: 0.4;
            background-size: 100%;
            -webkit-background-size: 100%;
          }
        }

        .project-tiles-tile-caption {
          opacity: 1;
        }
      }
    }
  }

  &:nth-child(odd) {
    .project {
      &-info {
        float: right;
        padding-left: 50px;
      }
      &-screens,
      &-tiles {
        float: left;
      }
    }
  }
  &:nth-child(even) {
    .project {
      &-info {
        float: left;
        padding-right: 50px;
      }
      &-screens,
      &-tiles {
        float: right;
      }
    }
  }

  @include media-query($device-tablet) {
    max-width: 920px;
    margin-bottom: 120px;

    &-info,
    &-screens,
    &-tiles {
      width: auto;
      float: none !important;
    }

    &-info {
      padding: 0 !important;
    }

    &-screens,
    &-tiles {
      @include phone-rule(margin-bottom, 80px);
    }
  }

  @include media-query($device-phone) {
    &-info {
      &-description {
        @include phone-rule(font-size, 22px);
        @include phone-rule(line-height, 40px);
      }

      &-button {
        width: 90%;
        margin: 0 auto;
      }
    }
  }
}
.screen {
  position: relative;

  &-ui,
  &-image,
  &-overlay,
  &-ui-buttons,
  &-ui-address,
  &-ui-speaker,
  &-ui-button {
    position: absolute;
  }

  &-ui {
    position: absolute;
    top: -1px;
    left: -1px;
    right: -1px;
    bottom: -1px;
    background: #FFF;
    border: 1px solid rgba(#000, 0.5);

    &-buttons {
      top: $home-screen-address-height / 2;
      left: $home-screen-button-size;
      height: $home-screen-button-size;
      @include transform(translateY(-50%));

      &-button {
        display: inline-block;
        background: #AAA;
        width: $home-screen-button-size;
        height: $home-screen-button-size;
        margin-right: $home-screen-button-margin;
        border-radius: 100%;
        opacity: 0.6;
        vertical-align: top;
        cursor: pointer;

        &:hover {
          opacity: 1;
        }
        &:last-child {
          margin: 0;
        }
        &.isRed {
          background-color: #FF4444;
        }
        &.isYellow {
          background-color: #FFBE00;
        }
        &.isGreen {
          background-color: #00D544;
        }
      }
    }

    &-address {
      height: $home-screen-address-height - 10px;
      line-height: $home-screen-address-height - 10px;
      top: 5px;
      left: $home-screen-button-size * 5 + $home-screen-button-margin * 4;
      right: 6px;
      padding: 0 6px;
      border-radius: 3px;
      border: 1px solid #AAA;
      font-size: 12px;
      font-family: "Segoe UI", "Lucida Grande", sans;
      color: #777;
    }

    &-speaker,
    &-button {
      left: 50%;
      border-radius: 1000px;
      @include transform(translateX(-50%) translateY(-50%));
    }
    &-speaker {
      top: 5%;
      width: 25%;
      padding-bottom: 2%;
      background-color: #EEE;
    }
    &-button {
      bottom: 3%;
      width: 30%;
      padding-bottom: 7%;
      border: 1px solid #AAA;
    }
  }

  &-image {
    background-color: #EEE;
    background-size: 100% auto;
    opacity: 0;
    @include transition(opacity 500ms ease);

    &.isLoaded {
      opacity: 1;
    }
  }

  &-overlay {
    @include linear-gradient(
      125deg, rgba(255,255,255, 0) 0%, rgba(255,255,255, 0.1) 50%,
      rgba(255,255,255, 0) 52%, rgba(255,255,255, 0) 100%
    );
  }

  &.isDesktop {
    width: 93.75%;
    max-width: $home-screen-desktop-width;
    border-radius: $home-screen-desktop-radius;

    > .inner {
      padding-bottom: $home-screen-desktop-ratio * 100%;
    }

    .screen {
      &-ui {
        border-radius: $home-screen-desktop-radius;
      }
      &-image,
      &-overlay {
        top: $home-screen-address-height;
        left: 0;
        right: 0;
        bottom: 0;
        border-bottom-left-radius: $home-screen-desktop-radius - 1;
        border-bottom-right-radius: $home-screen-desktop-radius - 1;
      }
      &-image {
        border-top: 1px solid #AAA;
      }
    }
  }

  &.isPhone {
    position: absolute;
    bottom: -8%;
    right: 0;
    width: 33.8%;
    max-width: $home-screen-phone-width;
    border-radius: $home-screen-phone-radius;

    > .inner {
      padding-bottom: $home-screen-phone-ratio * 100%;
    }

    .screen {
      &-ui {
        border-radius: $home-screen-phone-radius;
      }
      &-image,
      &-overlay {
        top: 10%;
        left: 5%;
        right: 5%;
        bottom: 15%;
      }
      &-image {
        border: 1px solid #AAA;
      }
    }
  }
}



// Posts
.posts {
  @include phone-rule(padding, 60px 0);
  background-color: $color-white;

  &-title {
    @include phone-rule(margin-bottom, 60px);
    @include phone-rule(font-size, $home-title-size);
    @include phone-rule(line-height, $home-title-line);
    color: $color-gray-1;
    text-align: center;
  }

  &-list {
    &--blurred {
      pointer-events: none;
      opacity: 0.6;
      @include filter(blur(8px));
    }
  }

  &-tbd {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 100%;
    text-align: center;
    text-shadow: 0 0 8px #FFF;
    @include phone-rule(font-size, 36px);
    @include phone-rule(line-height, 50px);
    @include transform(translateX(-50%) translateY(-50%));
  }
}

.post {
  display: block;
  max-width: 920px;
  @include phone-rule(margin, 0 auto 40px);
  @include phone-rule(padding, 0 20px);
  @include transform-origin(50% 50%);

  &:nth-child(0n+2) {
    opacity: 0.92;
  }
  &:nth-child(0n+3) {
    opacity: 0.84;
  }

  &,
  &-title,
  &-excerpt {
    color: $color-gray-1;
  }

  &-title {
    font-family: $font-title;
    @include phone-rule(font-size, 32px);
    @include phone-rule(line-height, 46px);
  }
  &-date {
    display: inline-block;
    @include phone-rule(margin-bottom, 15px);
    @include phone-rule(font-size, 13px);
    @include phone-rule(line-height, 20px);
    font-family: $font-title;
    color: $color-gray-2;
    border-bottom: 2px solid rgba($color-gray-2, 0.4);
  }
  &-excerpt {
    &, p {
      @include phone-rule(font-size, $type-size-body);
      @include phone-rule(line-height, $type-line-body);
    }
  }

  &,
  .post-date {
    @include transition(all 150ms ease);
  }

  &:hover {
    opacity: 1;

    .post-date {
      border-color: $color-red-1;
    }
  }
}



// Contact
.contact {
  padding: 80px 20px 500px;
  text-align: center;
  background-color: $color-gray-1;
  background-image: url('/img/home/brooklyn-bridge.svg');
  background-position: bottom;
  background-size: 100% auto;
  background-repeat: no-repeat;

  &-title {
    display: inline-block;
    padding: 0 8px;
    margin-bottom: 70px;
    color: $color-white;
    font-size: $home-title-size;
    line-height: $home-title-line;
    border-bottom: 3px solid $color-white;
  }

  &-sources {
    margin-bottom: 150px;

    &-link {
      display: block;
      padding: 12px;
      font-size: 26px;
      line-height: 46px;
      font-family: $font-title;
      color: $color-white;
      @include transform(translateY(0px));
      @include transition(transform 150ms ease);
      &.isIcon {
        display: inline-block;
      }

      i {
        font-size: 46px;
      }
      span {
        padding-left: 12px;
        position: relative;
        vertical-align: top;
      }

      &:hover {
        color: $color-white;
        text-shadow: 1px 1px 3px rgba(#000, 0.8);
        @include transform(translateY(-2px));
      }
    }
  }

  &-address {
    display: inline-block;
    position: relative;
    font-size: 22px;
    line-height: 36px;
    color: $color-white;

    &:before,
    &:after {
      position: absolute;
      top: 50%;
      height: 2px;
      margin-top: -1px;
      width: 20px;
      content: "";
      background-color: $color-white;
    }
    &:before {
      left: -28px;
    }
    &:after {
      right: -28px;
    }
  }

  @include media-query($device-tablet) {
    &-title {
      margin-bottom: 60px;
    }

    &-sources {
      margin-bottom: 120px;

      &-link {
        display: block;
        font-size: 28px;
        line-height: 46px;

        i {
          font-size: 46px;
        }
      }
    }
  }

  @include media-query($device-phone) {
    @include phone-rule(padding-bottom, 350px);

    &-title {
      @include phone-rule(margin-bottom, 40px);
      @include phone-rule(font-size, $home-title-size);
      @include phone-rule(line-height, $home-title-line);
    }

    &-sources {
      @include phone-rule(margin-bottom, 90px);

      &-link {
        @include phone-rule(line-height, 50px);
        @include phone-rule(font-size, 32px);

        i {
          @include phone-rule(font-size, 50px);
        }
      }
    }

    &-address {
      @include phone-rule(font-size, 28px);
      @include phone-rule(line-height, 42px);
    }
  }
}
