.notransition {
  &, * {
            transition: none !important;
    -webkit-transition: none !important;
       -moz-transition: none !important;
         -o-transition: none !important;
  }
}

.site {
  background-color: $color-white;
}
