@import '~/styles/mixins.scss';

.container {
  padding: 24px;
  background: var(--palette-surface);
  font-size: 1.5rem;
  line-height: 1.5;
  @include content-container;
  @include border-3d(12px, var(--palette-shadowLight), var(--palette-shadowDark));

  p:first-child {
    margin-top: 0;
  }
  p:last-child {
    margin-bottom: 0;
  }
}

.scrollSpacer {
  display: none;
  height: calc(100vh - 200px);

  @include mq-slim {
    display: block;
  }
}