.window {
  display: flex;
  flex-direction: column;
  position: absolute;
  overflow: hidden;
  border-radius: 16px;

  .titleBar {
    display: flex;
    align-items: center;
    height: 32px;
    flex-shrink: 0;
    padding: 0 12px;
    box-shadow: 0 0 4px rgba(0, 0, 0, 0.2);

    .buttons {
      display: flex;
      justify-content: center;
      align-items: center;
      gap: 8px;

      button {
        width: 12px;
        height: 12px;
        border-radius: 100%;
        border: 1px solid;
        padding: 0;

        &.close {
          background: #ff5c5c;
          border-color: #e33e41;

          &:active {
            background: #c14645;
            border-color: #b03537;
          }
        }

        &.minimize {
          background: #ffbd4c;
          border-color: #e09e3e;

          &:active {
            background: #c08e38;
            border-color: #af7c33;
          }
        }

        &.maximize {
          background: #00ca56;
          border-color: #14ae46;

          &:active {
            background: #029740;
            border-color: #128435;
          }
        }
      }
    }

    .title {
      flex: 1;
      text-align: center;
    }
  }

  .content {
    position: relative;
    flex: 1;
    overflow: auto;
  }
}
