@import '~/styles/mixins.scss';

.projects {
  position: relative;
  min-height: 480px;
  height: calc(100vh - 160px);
  @include content-container;
}

.scrollSpacer {
  display: none;
  height: 40vh;

  @include mq-slim {
    display: block;
  }
}
