---
layout: default
---
<div class="post">
  <h2>{{ page.title }}</h2>
  <div class="date">{{ page.date | date:"%B %d, %Y" }}</div>
  {{ content }}
</div>

<link rel="stylesheet" href="/css/default-highlight.css">
<script type="text/javascript" src="/scripts/highlight.pack.js"></script>
<script type="text/javascript" src="/scripts/jq.wrapcaptions.js"></script>
<script>
  hljs.initHighlightingOnLoad();
</script>


<div id="disqus_thread"></div>
<script type="text/javascript">
  var disqus_shortname = 'wbobeirne';
  (function() {
    var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
    dsq.src = 'http://' + disqus_shortname + '.disqus.com/embed.js';
    (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
  })();
</script>
<noscript>Please enable JavaScript to view the <a href="http://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>
<a href="http://disqus.com" class="dsq-brlink">blog comments powered by <span class="logo-disqus">Disqus</span></a>