@import '~/styles/mixins.scss';



.nav {
  position: relative;
  width: 100%;
  display: flex;
  align-items: center;
  padding: 1.25rem 1.5rem;
  gap: 2rem;
  z-index: 100;
  pointer-events: none;

  --color: #FFF;
  --shadow: #BBB;
  --hoverColor: #;
  --activeColor: #FFF;
  --activeShadow: #444;

  @include dark-mode {
    --color: #666;
    --hoverColor: #888;
    --shadow: #000;
    --activeColor: #FFF;
    --activeShadow: #000;
  }

  a,
  .buttons button {
    cursor: pointer;
    color: var(--color);
    @include text-3d(var(--shadow));
    transition: transform 60ms ease, opacity 60ms ease, filter 60ms ease;
  
    &:hover,
    &:focus {
      color: var(--hoverColor);
    }
  
    &:active {
      @include text-3d-sunk(var(--shadow));
    }
  
    &.isActive {
      color: var(--activeColor);
      @include text-3d(var(--activeShadow));
  
      &:active {
        @include text-3d-sunk(var(--activeShadow));
      }
    }
  }
  

  a {
    position: relative;
    font-size: 2rem;
    font-weight: 400;
    letter-spacing: 1px;
    text-transform: uppercase;
    pointer-events: auto;
  }

  .buttons {
    position: fixed;
    top: 0;
    right: 0;
    gap: 0.5rem;
    padding-right: 1rem;
    display: flex;
    align-items: center;
    z-index: 101;

    button {
      display: flex;
      align-items: center;
      justify-content: center;
      background: none;
      border: none;
      padding: 2rem 1rem;
      pointer-events: auto;
      opacity: 0.5;

      &:hover,
      &:focus {
        color: var(--activeColor);
        opacity: 1;
      }

      svg {
        height: 1.8rem;
        width: 1.8rem;
      }
    }
  }

  &.uiHidden a {
    opacity: 0;
    transform: translateY(-200%);
  }
}
