.nav {
  position: relative;
  width: 100%;
  display: flex;
  align-items: center;
  padding: 20px 24px;
  z-index: 100;
  pointer-events: none;
  

  a {
    padding-right: 32px;
    font-size: 2.4rem;
    text-transform: uppercase;
    transition: transform 200ms ease, opacity 200ms ease;
    pointer-events: auto;

    &.isActive {
      color: var(--palette-primary);
    }
  }

  .buttons {
    position: fixed;
    top: 0;
    right: 0;
    padding: 20px 24px;
    display: flex;
    align-items: center;
    z-index: 101;

    button {
      pointer-events: auto;
    }
  }

  &.uiHidden a {
    opacity: 0;
    transform: translateY(-200%);
  }
}
