@import './mixins.scss';

@font-face {
  font-family: 'Urbanist';
  font-stretch: 100%;
  font-style: normal;
  font-weight: 100%;
  src: url('/fonts/urbanist.ttf') format('ttf') tech('variations');
}

@font-face {
  font-family: 'Figtree';
  font-stretch: 100%;
  font-style: normal;
  font-weight: 100%;
  src: url('/fonts/figtree.ttf') format('ttf') tech('variations');
}

html,
body {
  padding: 0;
  margin: 0;
  line-height: 1.5;
  font-size: 16px;
  font-family: Urbanist, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

@include mq-slim {
  html,
  body {
    font-size: 14px;
  }
}

@include mq-tiny {
  html,
  body {
    font-size: 12px;
  }
}

html {
  color-scheme: var(--palette-colorScheme);
}

body {
    background: var(--palette-background);
    background: linear-gradient(0deg, var(--palette-backgroundShaded), var(--palette-background));
    height: 100vh;
    background-position: 0% 50%;
    background-attachment: fixed;
    color: var(--palette-text);
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}
