html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

html {
  color-scheme: var(--palette-colorScheme);
}

body {
    background: var(--palette-background);
    background: linear-gradient(0deg, var(--palette-backgroundShaded), var(--palette-background));
    height: 100vh;
    background-position: 0% 50%;
    background-attachment: fixed;
    color: var(--palette-text);
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}
