@mixin dark-mode() {
  [data-theme='dark'] & {
    @content;
  }
}

@mixin mq-mid {
  @media screen and (max-width: 1180px) {
    @content;
  }
}

@mixin mq-slim {
  @media screen and (max-width: 880px) {
    @content;
  }
}

@mixin mq-tiny {
  @media screen and (max-width: 380px) {
    @content;
  }
}

@mixin mq-work-2col {
  @media screen and (max-width: 580px) {
    @content;
  }
}

$content-width: 720px;
$content-width-mid: 600px;
@mixin content-container {
  width: calc(100% - 12px);
  max-width: $content-width;

  @include mq-mid {
    max-width: $content-width-mid;
  }

  @include mq-slim {
    max-width: none;
  }
}

@mixin border-3d($depth, $shadowLight, $shadowDark) {
  position: relative;

  &::before,
  &::after {
    position: absolute;
    content: '';
  }

  &::before {
    bottom: -$depth;
    left: $depth / 2;
    width: 100%;
    height: $depth;
    background: $shadowDark;
    transform: skewX(45deg);
  }

  &::after {
    right: -$depth;
    bottom: -$depth / 2;
    height: 100%;
    width: $depth;
    background: $shadowLight;
    transform: skewY(45deg);
  }
}

@mixin border-3d-sunk($depth, $sink) {
  top: $sink;
  left: $sink;

  &::before {
    bottom: -$depth + $sink;
    height: $depth - $sink;
    left: $depth / 2 - $sink / 2;
  }

  &::after {
    right: -$depth +$sink;
    width: $depth - $sink;
    bottom: -($depth / 2 - $sink / 2);
  }
}

@mixin text-3d($color) {
  filter: drop-shadow(-0.5px 0 0 $color)
          drop-shadow(-0.5px -0.5px 0 $color)
          drop-shadow(0 -0.5px 0 $color)
          drop-shadow(0 0.5px 0 $color)
          drop-shadow(0 1px 0 $color)
          drop-shadow(1px 0px 0 $color)
          drop-shadow(1px 1px 0 $color)
          drop-shadow(1px 2px 0 $color)
          drop-shadow(2px 2px 0 $color);
}

@mixin text-3d-sunk($color) {
  // Keep identical number of drop-shadows to text-3d.
  transform: translate(3.5px, 3.5px);
  filter: drop-shadow(-0.5px 0 0 $color)
          drop-shadow(-0.5px -0.5px 0 $color)
          drop-shadow(0 -0.5px 0 $color)
          drop-shadow(0 0.5px 0 $color)
          drop-shadow(0 1px 0 $color)
          drop-shadow(1px 1px 0 $color)
          drop-shadow(0 0 0 $color)
          drop-shadow(0 0 0 $color)
          drop-shadow(0 0 0 $color);
}

@mixin custom-scrollbar($track-color, $thumb-color) {
  scrollbar-color: $track-color $thumb-color;
  &::-webkit-scrollbar {
    width: 12px;
    height: 12px;
  }
  &::-webkit-scrollbar-track {
    background: $track-color;
  }
  &::-webkit-scrollbar-thumb {
    border: 2px solid $track-color;
    background: $thumb-color;
    border-radius: 10px;
  }
    &::-webkit-scrollbar-thumb:horizontal:hover,
    &::-webkit-scrollbar-thumb:vertical:hover {
    filter: grayscale(1);
  }
}
