@import '~/styles/mixins.scss';

.scaleWrapper {
  width: 1460px;
  height: 768px;
  transform: scale(0.024);
  transform-origin: center;
}

.container {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 100%;
  height: 100%;
  transform: translate(-50%, -50%);
  border-radius: 10px;
  background-color: #4158D0;
  background-image: linear-gradient(43deg, #4158D0 0%, #C850C0 46%, #FFCC70 100%);
  overflow: hidden;
}

.topBar {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 28px;
  padding: 0 20px;
  font-size: 11px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: rgba(#FFF, 0.9);
  color: #222;
  backdrop-filter: blur(10px);

  @include dark-mode {
    background: rgba(#222, 0.9);
    color: #FFF;
  }
}
.topBar > div {
  display: flex;
  align-items: center;
  gap: 16px;
}
.topBar .icon {
  width: 12px;
  height: 12px;
}
.topBar .icon svg {
  width: 100%;
  height: 100%;
}
.topBar .icon svg path {
  fill: var(--palette-text);
}

.window {
  display: flex;
  flex-direction: column;
  position: absolute;
  overflow: hidden;
  border-radius: 16px;

  .titleBar {
    display: flex;
    align-items: center;
    height: 32px;
    flex-shrink: 0;
    padding: 0 12px;
    box-shadow: 0 0 4px rgba(0, 0, 0, 0.2);

    .buttons {
      display: flex;
      justify-content: center;
      align-items: center;
      gap: 8px;

      button {
        width: 12px;
        height: 12px;
        border-radius: 100%;
        border: 1px solid;
        padding: 0;

        &.close {
          background: #ff5c5c;
          border-color: #e33e41;
          &:active {
            background: #c14645;
            border-color: #b03537;
          }
        }

        &.minimize {
          background: #ffbd4c;
          border-color: #e09e3e;

          &:active {
            background: #c08e38;
            border-color: #af7c33;
          }
        }

        &.maximize {
          background: #00ca56;
          border-color: #14ae46;
          &:active {
            background: #029740;
            border-color: #128435;
          }
        }
      }
    }

    .title {
      flex: 1;
      text-align: center;
    }
  }

  .content {
    flex: 1;
    overflow: auto;
  }
}

.ide {
  position: absolute;
  top: 12%;
  left: 5%;
  width: 65%;
  height: 85%;
  background: #3c3c3c;

  .titleBar .title {
    color: #FFF;
  }

  .content {
    display: flex;
    .sidebar {
      display: flex;
      flex-direction: column;
      align-items: center;
      width: 6%;
      background: #333;

      .icon {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        aspect-ratio: 1 / 1;
        color: #fff;
        opacity: 0.5;

        &:first-child {
          opacity: 1;
          border-left: 2px solid #FFF;
        }

        svg {
          height: 50%;
          width: 50%;
        }
      }
    }
    .files {
      display: flex;
      flex-direction: column;
      align-items: center;
      width: 20%;
      background: #252526;

      .filename {
        padding: 4px 20px;
        width: 100%;
        color: #FFF;
        opacity: 0.8;

        &.projectTitle {
          padding-left: 10px;
          font-weight: bold;
          text-transform: uppercase;
          font-size: 11px;
        }

        &.indent {
          padding-left: 40px;
        }

        &.faded {
          opacity: 0.4;
        }

        &.selected {
          background: rgba(#fff, 0.1);
        }
      }
    }
    .code {
      flex: 1;
      background: #1E1E1E;
    }
  }
}

.browser {
  position: absolute;
  top: 6%;
  left: 20%;
  width: 72%;
  aspect-ratio: 1.5 / 1; // 1.275 / 1;
  background: var(--palette-background);
  animation: window-open 300ms ease 1;

  .titleBar {
    height: 50px;
    z-index: 2;
  }

  .browserControls {
    flex: 1;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
    padding: 0 40px;
    
    .navigation {
      display: flex;

      svg {
        width: 16px;
        height: 16px;

        path {
          fill: rgba(#000, 0.5);
          @include dark-mode {
            fill: rgba(#FFF, 0.5);
          }
        }
      }
    }

    .urlBar {
      background: rgba(#000, 0.1);
      color: rgba(#000, 0.8);
      width: 100%;
      height: 30px;
      line-height: 32px;
      border-radius: 8px;
      text-align: center;

      @include dark-mode {
        background: rgba(#FFF, 0.1);
        color: rgba(#FFF, 0.8);
      }
    }
  }
}
